/*Dương Đăng Quang*/
.stage {
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.lantern {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
}

.face {
    position: absolute;
    width: 200px;
    height: 250px;
    border: 2px solid #0dcaf0;
    background: #000;
    box-shadow: 0 0 15px rgba(13, 202, 240, 0.5);
}

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: 0.3s;
}

.face img:hover {
    filter: brightness(1.2);
}

.face:nth-child(1) { transform: rotateY(0deg) translateZ(173px); }
.face:nth-child(2) { transform: rotateY(60deg) translateZ(173px); }
.face:nth-child(3) { transform: rotateY(120deg) translateZ(173px); }
.face:nth-child(4) { transform: rotateY(180deg) translateZ(173px); }
.face:nth-child(5) { transform: rotateY(240deg) translateZ(173px); }
.face:nth-child(6) { transform: rotateY(300deg) translateZ(173px); }

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

.modal-dialog.custom-size {
    max-width: 500px; 
    margin: 1.75rem auto;
}

#modalImage {
    width: 100%;
    height: auto;
    max-height: 70vh; 
    object-fit: contain;
    border: 5px solid #0dcaf0; 
    box-shadow: 0 0 20px rgba(13, 202, 240, 0.8);
}
.img-preview {
    display: block;
    max-width: 80vw;   
    max-height: 80vh;  
    width: auto;
    height: auto;
    border: 4px solid #0dcaf0; 
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(13, 202, 240, 0.7); 
}

.modal-content {
    box-shadow: none !important;
}